:root{
    --brand-color:#605dec ;
    --text-grey-color:#7C8DB0;
    --white-color:rgb(255, 255, 255);
    --black-color:#27273F;
    --text-greyer-color:#6E7491;
    --vien-color:#CBD4E6;
}

*{
    box-sizing: inherit;
}
.required{
    color:red;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
 
.grid__full__width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
button:hover{
    background-color: whitesmoke;
    color: var(--brand-color);
    border-color: var(--brand-color);
    border-color: var(--brand-color);
}
button{
    border: none;
    background-color: var(--white-color);
}
.exit :hover {
    color: red;
    cursor: pointer;
}
.warning{
    font-size: smaller;
    color:red;
    display: none;
}
._btnChuyenTiep{
    color: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 0.5rem;
}
._btnChuyenTiep:hover{
    color: var(--brand-color);
    font-weight: bold;
    border: 2px solid var(--brand-color);
    
}
._btnQuayLai{
    color: red;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--brand-color);
}
._btnQuayLai:hover{
    font-weight: bold;
    border: 2px solid var(--brand-color);
    
}
.theInput{color: var(--text-grey-color);
    color: var(--black-color);
    height: 4rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-grey-color);
}
.theInput:focus-within {
    border: 2px solid var(--brand-color)
}
.theInput::placeholder {
    color: var(--text-grey-color);
}